@media screen and (max-width: 700px){
    header .wrapper{
        display: flex;
        flex-direction: column;
    }

    main .filme-principal {
        margin-top: 20px;
    }

    #filmes {
        margin-top: 20px;
    }

    .botao {
        font-size: 9px;
        margin-bottom: 5px;
    }
}

@media screen and (min-width: 1000px){
    .descricao{
        width: 50%;
    }
}